body {
    font-family: Nunito, semibold;
    background-color: #fde9ea;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
p {
    font-size: 18px;
    color: #666;
}
button {
    background-color: #869f77;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
